@tailwind base;
@tailwind components;
@tailwind utilities;


.loader {
    border-top-color: #000000;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  